:root {
    --Dark-blue: hsl(218, 44%, 22%);
    --light-blue: #3685FF;
    --White: hsl(0, 0%, 100%);
    --gray: #7D889E;
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Outfit", sans-serif;
    background: var(--Light-gray);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 320px;
    height: 497px;
    background: var(--White);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px var(--Grayish-blue);
}
img[alt=qr-img] {
    width: 100%;
    border-radius: 10px;
}
h2 {
    color: var(--Dark-blue);
    font-size: 22px;
}
p {
    font-size: 15px;
    color: var(--gray);
}
